{:deps {poly/criterium {:local/root "../bases/criterium"}
        poly/criterium.arg-gen {:local/root "../bases/criterium.arg-gen"}
        poly/criterium.chart {:local/root "../bases/criterium.chart"}}}
