{:deps {poly/arg-gen {:local/root "../../bases/arg-gen"}}
 :aliases
 {:build {:deps {local/build {:local/root "../../build"}}
          :ns-default build.tasks
          :exec-fn help
          :jvm-opts ["-Dclojure.main.report=stderr"]}
  :test {:extra-paths ["test" "."]
         :extra-deps {local/build {:local/root "../../build"}}
         :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                    "-Dclojure.main.report=stderr"]}}}
