{:remove-surrounding-whitespace?  true
 :remove-trailing-whitespace?     true
 :remove-consecutive-blank-lines? true
 :insert-missing-whitespace?      true
 :align-associative?              true
 :indents                         {defrecord [[:inner 0 2]]
                                   as->      [[:inner 0]]
                                   cond->    [[:inner 0]]}}
