#kaocha/v1
 {:tests [{:kaocha.testable/type :kaocha.type/clojure.test
           :id                   :all
           :ns-patterns          ["-test$"]
           :source-paths         ["bases/criterium/src"
                                  "bases/agent/src"
                                  "bases/arg-gen/src"
                                  "components/optimisation/src"
                                  "components/random/src"
                                  "components/utils/src"
                                  "build/src"
                                  "projects/agent"]
           :kaocha/source-paths  ["bases/criterium/src"
                                  "bases/agent/src"
                                  "bases/arg-gen/src"
                                  "components/optimisation/src"
                                  "components/random/src"
                                  "components/utils/src"
                                  "build/src"
                                  "projects/agent"]
           :test-paths           ["bases/criterium/test"
                                  "bases/blackhole/test"
                                  "bases/agent/test"
                                  "bases/arg-gen/test"
                                  "components/optimisation/test"
                                  "components/random/test"
                                  "components/utils/test"
                                  "build/test"
                                  "projects/agent/test"
                                  "development/test"]
           :skip-meta            [:slow :very-slow :requires-build-artifacts]}]

  :plugins                            [:kaocha.plugin/randomize
                                       :kaocha.plugin/filter
                                       :kaocha.plugin/capture-output
                                       :kaocha.plugin/profiling
                                       :kaocha.plugin/hooks
                                       #_:kaocha.plugin/cloverage]
  :kaocha.hooks/pre-run               [criterium.kaocha-hooks/instrument-pre-run]
  :kaocha.hooks/post-run              [criterium.kaocha-hooks/unstrument-post-run]
  :cloverage/opts                     {:ns-regex ["^criterium.*$"]}
  :capture-output?                    #profile {:default true
                                                :dots    true
                                                :debug   false}
  :reporter                           #profile {:dots     kaocha.report/dots
                                                :default  kaocha.report/documentation
                                                :progress kaocha.report.progress/report
                                                :debug    kaocha.report/debug}
  :kaocha.plugin.randomize/randomize? true
  :kaocha.plugin.profiling/count      10
  :kaocha.plugin.profiling/profiling? #profile {:default false
                                                :profile true}}
