{:top-namespace        "criterium"
 :interface-ns         "interface"
 :default-profile-name "default"
 :compact-views        #{}
 :vcs                  {:name     "git"
                        :auto-add false}
 :tag-patterns         {:stable  "stable-*"
                        :release "v[0-9]*"}
 :projects             {"development" {:alias "dev"}
                        "criterium"   {:alias "core"}}}
