{:paths ["src" "resources"]
 :deps {poly/blackhole {:local/root "../blackhole"}
        poly/agent {:local/root "../agent"}
        poly/random {:local/root "../../components/random"}
        poly/utils {:local/root "../../components/utils"}}
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps
            {local/agent {:local/root "../agent"}
             org.clojure/clojure {:mvn/version "1.11.2"}
             expound/expound {:mvn/version "0.9.0"}
             org.clojure/test.check {:mvn/version "1.1.1"}
             org.scicloj/clay {:mvn/version "2.0.3"}}}
           :kaocha {:extra-deps
                    {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                     lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                     local/agent {:local/root "../agent"}}
                    :exec-fn kaocha.runner/exec-fn
                    :exec-args {}
                    :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                               "-Dclojure.main.report=stderr"]
                    :main-opts ["-m" "kaocha.runner"]}}}
