{:paths ["src"]
 :deps {poly/utils {:local/root "../utils"}
        poly/random {:local/root "../random"}
        poly/array {:local/root "../array"}
        poly/primitive-fn {:local/root "../primitive-fn"}}}
