{:paths ["src/clj"]
 :deps {}
 :aliases {:test
           {:extra-paths ["test"]
            :extra-deps
            {org.clojure/clojure {:mvn/version "1.12.0"}
             polylith-kaocha/kaocha-wrapper
             {:git/url "https://github.com/imrekoszo/polylith-kaocha"
              :git/tag "v0.8.4"
              :git/sha "f096de8"
              :deps/root "projects/kaocha-wrapper"}}}}}
